.accordeon {
    display: flex;
    width: 100%;
}

details {
    position: relative;
    width: 130px;
}

details[open] {
    margin-right: 120px;
    padding: 0;
    transition: 0.5s;
}

details>summary {
    position: absolute;
    top: 0;
    left: 0;
}


details>div {
    padding-left: 130px;
}

